<div data-role="page" id="index-page">
  <div data-role="header">
    <a 
      href="#settings" 
      data-rel="popup"
      data-transition="slide"
      data-position-to="window"
      data-role="button" 
      data-iconpos="notext" 
      data-icon="gear">Settings</a>
    <h1>Kraft</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-filter="true">
      $for device in devices:
        <li><a href="#">$:device.name</a></li>

    </ul>
  </div>
</div>
